<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.hobbyfield.app.club.board.mapper.ClubBoardMapper">

	<select id="getAllClubBoardList" resultType="ClubBoardVO">
		 <![CDATA[
		select a.* from (
		SELECT BOARD_NUMBER,
		CLUB_NUMBER,
		CLUB_BOARD_WRITER,
		CLUB_BOARD_CONTENT,
		CLUB_BOARD_WDATE,
		CLUB_BOARD_VIEWS,
		CLUB_BOARD_TYPE,
		SCHEDULE_DATE,
		CLUB_BOARD_BLIND
		FROM CLUB_BOARD
		WHERE club_board_blind <> 'AH2'  
		ORDER BY board_number desc
		) a where rownum <=6
		]]>
	</select>

	<select id="getSelectClubBoardList"
		resultType="ClubBoardVO">
		SELECT c.BOARD_NUMBER,
		c.CLUB_NUMBER,
		c.CLUB_BOARD_WRITER,
		c.CLUB_BOARD_CONTENT,
		c.CLUB_BOARD_WDATE,
		c.CLUB_BOARD_VIEWS,
		c.CLUB_BOARD_BLIND,
		p.PROFILE_IMG,
		p.PROFILE_IMG_PATH
		FROM (
		SELECT BOARD_NUMBER,
		CLUB_NUMBER,
		CLUB_BOARD_WRITER,
		CLUB_BOARD_CONTENT,
		CLUB_BOARD_WDATE,
		CLUB_BOARD_VIEWS,
		CLUB_BOARD_BLIND,
		ROWNUM AS RN
		FROM (
		SELECT BOARD_NUMBER,
		CLUB_NUMBER,
		CLUB_BOARD_WRITER,
		CLUB_BOARD_CONTENT,
		CLUB_BOARD_WDATE,
		CLUB_BOARD_VIEWS,
		CLUB_BOARD_BLIND
		FROM CLUB_BOARD
		WHERE CLUB_NUMBER = #{clubNumber}
		ORDER BY CLUB_BOARD_WDATE DESC
		)
		) c
		JOIN PROFILE p ON (c.CLUB_BOARD_WRITER = p.PROFILE_NICKNAME)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>

	<select id="getClubBoardInfo" parameterType="ClubBoardVO"
		resultType="ClubBoardVO">
		SELECT BOARD_NUMBER,
		CLUB_NUMBER,
		CLUB_BOARD_WRITER,
		CLUB_BOARD_CONTENT,
		CLUB_BOARD_WDATE,
		CLUB_BOARD_VIEWS,
		CLUB_BOARD_TYPE,
		SCHEDULE_DATE,
		CLUB_BOARD_BLIND,
		p.PROFILE_IMG_PATH,
		p.PROFILE_IMG,
		m.MEMBER_EMAIL
		FROM CLUB_BOARD c JOIN PROFILE p ON(c.CLUB_BOARD_WRITER =
		p.PROFILE_NICKNAME)
		JOIN MEMBER m ON (p.MEMBER_EMAIL = m.MEMBER_EMAIL)
		WHERE board_number = #{boardNumber}
	</select>

	<select id="searchClubBoardList" resultType="ClubBoardVO">
		SELECT b.board_number,
		b.club_number,
		b.club_board_writer,
		b.club_board_content,
		b.club_board_wdate,
		p.profile_img,
		p.profile_img_path,
		b.club_board_views,
		b.schedule_date,
		b.club_board_blind
		FROM CLUB_BOARD b JOIN PROFILE p ON(b.CLUB_BOARD_WRITER =
		p.PROFILE_NICKNAME)
		WHERE CLUB_NUMBER = #{clubNumber} AND
		(CLUB_BOARD_CONTENT LIKE '%'||#{text}||'%' OR CLUB_BOARD_WRITER LIKE
		'%'||#{text}||'%')
	</select>

	<!-- 스크롤 쿼리문 -->
	<select id="getClubBoardScroll" resultType="ClubBoardVO">




	</select>

	<insert id="insertClubBoard" parameterType="ClubBoardVO">
		<selectKey keyProperty="boardNumber" resultType="int"
			order="BEFORE">
			SELECT NVL(MAX(board_number),100) + 1
			FROM club_board
		</selectKey>
		INSERT INTO CLUB_BOARD
		(
		BOARD_NUMBER
		, CLUB_NUMBER
		, CLUB_BOARD_WRITER
		, CLUB_BOARD_CONTENT
		, CLUB_BOARD_WDATE
		, CLUB_BOARD_VIEWS
		, CLUB_BOARD_TYPE
		<if test="scheduleDate != null">
			, SCHEDULE_DATE
		</if>
		, CLUB_BOARD_BLIND
		)
		VALUES (
		#{boardNumber},
		#{clubNumber},
		#{clubBoardWriter},
		#{clubBoardContent},
		TO_DATE(sysdate,'YYYY-MM-DD'),
		0,
		#{clubBoardType},
		<if test="scheduleDate != null">
			#{scheduleDate},
		</if>
		'AH1'
		)
	</insert>

	<update id="updateClubBoard" parameterType="ClubBoardVO">

	</update>

	<update id="updateViewClubBoard" parameterType="ClubBoardVO">

	</update>

	<!-- 게시글 작성 활동 포인트 적립 -->
	<update id="updateMemberPnt"
		parameterType="com.hobbyfield.app.member.service.MemberVO">
		UPDATE member SET member_actpnt = member_actpnt + 100
		WHERE member_email = #{memberEmail}
	</update>


</mapper>