<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.hobbyfield.app.club.board.mapper.ClubBoardMapper">

  	<select id="getAllClubBoardList" resultType="ClubBoardVO">
		SELECT  BOARD_NUMBER, 
				CLUB_NUMBER, 
				CLUB_BOARD_WRITER, 
				CLUB_BOARD_CONTENT, 
				CLUB_BOARD_WDATE, 
				CLUB_BOARD_VIEWS, 
				CLUB_BOARD_TYPE, 
				SCHEDULE_DATE, 
				CLUB_BOARD_BLIND
		FROM 	CLUB_BOARD
		ORDER BY CLUB_BOARD_WDATE
  	</select>
  		
  	<select id="getSelectClubBoardList" parameterType="CreateclubVO" resultType="ClubBoardVO">
  		SELECT  BOARD_NUMBER,
  				CLUB_NUMBER, 
  				CLUB_BOARD_WRITER, 
  				CLUB_BOARD_CONTENT, 
				CLUB_BOARD_WDATE, 
				CLUB_BOARD_VIEWS, 
				CLUB_BOARD_TYPE, 
				SCHEDULE_DATE, 
				CLUB_BOARD_BLIND,
				p.PROFILE_IMG_PATH,
                p.PROFILE_IMG
		FROM CLUB_BOARD c JOIN PROFILE p ON(c.CLUB_BOARD_WRITER = p.PROFILE_NICKNAME)
		WHERE CLUB_NUMBER = #{clubNumber}
		ORDER BY CLUB_BOARD_WDATE DESC
  	</select>
  	
  	<select id="getClubBoardInfo" parameterType="ClubBoardVO" resultType="ClubBoardVO">
  		SELECT  BOARD_NUMBER,      
				CLUB_NUMBER,           
				CLUB_BOARD_WRITER,  
				CLUB_BOARD_CONTENT, 
				CLUB_BOARD_WDATE,    
				CLUB_BOARD_VIEWS,        
				CLUB_BOARD_TYPE,   
				SCHEDULE_DATE,                    
				CLUB_BOARD_BLIND,
				p.PROFILE_IMG_PATH,
                p.PROFILE_IMG
		FROM CLUB_BOARD c JOIN PROFILE p ON(c.CLUB_BOARD_WRITER = p.PROFILE_NICKNAME)     
		WHERE board_number = #{boardNumber} 
  	</select>
  	
  	<insert id="insertClubBoard" parameterType="ClubBoardVO">
  		<selectKey keyProperty="boardNumber" resultType="int" order="BEFORE">
			SELECT NVL(MAX(board_number),100) + 1
			FROM club_board		
		</selectKey>
  		INSERT INTO CLUB_BOARD
  						(
  						BOARD_NUMBER
  						, CLUB_NUMBER
  						, CLUB_BOARD_WRITER
  						, CLUB_BOARD_CONTENT
  						, CLUB_BOARD_WDATE
						, CLUB_BOARD_VIEWS
						, CLUB_BOARD_TYPE
						<if test="scheduleDate != null">
						, SCHEDULE_DATE
						</if>
						, CLUB_BOARD_BLIND
						) 
				VALUES (
						#{boardNumber},
						#{clubNumber},
						#{clubBoardWriter},
						#{clubBoardContent},
						TO_DATE(sysdate,'YYYY-MM-DD'),
						0,
						#{clubBoardType},
						<if test="scheduleDate != null">
						#{scheduleDate},
						</if>
						'AH1'
						)
  	</insert>
  	
  	<update id="updateClubBoard" parameterType="ClubBoardVO">
  		
  	</update>
  	
  	<update id="updateViewClubBoard" parameterType="ClubBoardVO">
  		
  	</update>

  
  </mapper>