<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.hobbyfield.app.prdt.mapper.PrdtMapper">
  	
  	<!-- 등록된 상품 갯수 -->
  	<select id="prdtCount" resultType="int">
  		SELECT COUNT(prdt_id)
  		FROM prdt
  		WHERE 1=1
  		<include refid="search"></include>
		 AND prdt_id > 0
  	</select>
  	
  	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND prdt_name LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND prdt_CONTENTS LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND prdt_cate LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND( (prdt_name LIKE '%' || #{keyword} || '%') or (prdt_CONTENTS LIKE '%' || #{keyword} || '%') )</if>
		</if>
	</sql>
  	
  	<!-- 상품등록  -->
  	<insert id="insertPrdt" parameterType="PrdtVO">
	    INSERT INTO prdt(prdt_id, prdt_name, prdt_cate, prdt_contents, reg_date, prdt_price, prdt_count, prdt_soldout, prdt_thum, member_email, prdt_option)
	    VALUES(prdt_id_seq.NEXTVAL, #{prdtName}, #{prdtCate}, #{prdtContents}, sysdate, #{prdtPrice}, #{prdtCount}, #{prdtSoldout}, #{prdtThum}, #{memberEmail}, #{prdtOption})
	</insert>
  	
  	<!-- 상품상세보기 -->
  	<select id="selectPrdt" resultType="PrdtVO">
  		SELECT * FROM prdt WHERE prdt_id = #{prdtId}
  	</select>
  	
  	<!-- 상품리스트 조회(페이징,검색) -->
	<select id="selectAllPrdt" resultType="PrdtVO" parameterType="Criteria">
	    SELECT prdt_name, prdt_id, prdt_price, prdt_thum 
	    FROM ( 
            SELECT  
                   prdt_name,
                   prdt_id, 
                   prdt_price, 
                   prdt_thum,  
                   ROW_NUMBER() OVER(ORDER BY prdt_id DESC) AS RNUM
             FROM prdt
             WHERE 1=1
             <include refid="search"></include>
           ) prdt1
    WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
    ORDER BY prdt_id DESC
	</select>
	<!-- 상품수정하기  -->
	<update id="updatePrdt" parameterType="PrdtVO">
		UPDATE prdt
		SET 
			prdt_name = #{prdtName},
		  	prdt_contents = #{prdtContents},
		  	prdt_cate = #{prdtCate},
		  	prdt_price = #{prdtPrice},
		  	prdt_soldout = #{prdtSoldout},
		  	prdt_thum = #{prdtThum}
		  
		WHERE  prdt_id = #{prdtId}
	</update>
	
	<!--등록된 상품 삭제 -->
	<delete id="deletePrdt" parameterType="int">
		DELETE FROM prdt
		WHERE prdt_id = #{prdtId}
	</delete>
	
	<!--좋아요 추가 -->
	<insert id="likePrdt">
		INSERT INTO prdt_like 
		VALUES (like_seq.nextval, #{prdtId}, #{memberEmail}, sysdate) 
	
	</insert>
	
	<!--좋아요 취소 -->
	<delete id="deleteLike">
		DELETE FROM prdt_like
		WHERE prdt_id = #{prdtId] AND member_email = #{memberEmail}
	</delete>
	
	
	<!--상품의 좋아요 개수 -->
	<select id="likeCount" resultType="int">
		SELECT COUNT(*)
		FROM prdt_like
		WHERE prdt_id = #{prdtId}
	</select>
	
	<!--좋아요 카운트 -->
	<update id="prdtLikeCount" parameterType="int">
	    UPDATE prdt
	    SET like_count = like_count + 1
	    WHERE prdt_id = #{prdtId}
	</update>
  </mapper>