<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobbyfield.app.admin.mapper.AdminMapper">
	
	<select id="selectMemberList" resultType="com.hobbyfield.app.member.service.MemberVO" parameterType="com.hobbyfield.app.common.SearchCriteria">
		SELECT *
		FROM (
		    SELECT mem.*, ROWNUM AS rnum
		    FROM (
		        SELECT member_email,
		        	   member_pwd,
		        	   member_nm,
		        	   member_zip,
		        	   member_baseaddr,
		        	   member_detaaddr,
		        	   member_bizno,
		        	   member_cntinfo,
		        	   FIND_CODE_NM(member_grd) as member_grd,
		        	   member_actpnt,
		        	   member_rprtcnt,
		        	   member_ltstconn,
		        	   FIND_CODE_NM(member_comaccp) as member_comaccp,
		        	   member_deldate
		        FROM member
		        WHERE 1=1
		        	<include refid="search"></include>
		        AND (member_comaccp IS NULL
		        OR member_comaccp = 'AJ2')
		        ORDER BY member_ltstconn DESC
		    ) mem
		)
		WHERE rnum BETWEEN #{rowStart} AND #{rowEnd}
	</select>
	
	<select id="selectComMemberList" resultType="com.hobbyfield.app.member.service.MemberVO" parameterType="com.hobbyfield.app.common.SearchCriteria">
		SELECT *
		FROM (
		    SELECT mem.*, ROWNUM AS rnum
		    FROM (
		        	   SELECT member_email,
		        	   member_pwd,
		        	   member_nm,
		        	   member_zip,
		        	   member_baseaddr,
		        	   member_detaaddr,
		        	   member_bizno,
		        	   member_cntinfo,
		        	   FIND_CODE_NM(member_grd) as member_grd,
		        	   member_actpnt,
		        	   member_rprtcnt,
		        	   member_ltstconn,
		        	   FIND_CODE_NM(member_comaccp) as member_comaccp,
		        	   member_deldate
		        FROM member
		        WHERE 1=1
		        	<include refid="search"></include>
		        AND (member_grd = 'A2'
		        AND member_comaccp IN ('AJ1', 'AJ3'))
		    ) mem
		)
		WHERE rnum BETWEEN #{rowStart} AND #{rowEnd}
	</select>
	
	<select id="countMember" resultType="int">
		SELECT COUNT(member_email)
		FROM member
		WHERE 1=1
			<include refid="search"></include>
		AND (member_comaccp IS NULL OR member_comaccp = 'AJ2')
	</select>
	
	<select id="countComMember" resultType="int">
		SELECT COUNT(member_email)
		FROM member
		WHERE 1=1
			<include refid="search"></include>
		AND (member_grd = 'A2' AND member_comaccp IN ('AJ1', 'AJ3'))
	</select>

	<select id="selectMember" resultType="com.hobbyfield.app.member.service.MemberVO">
		SELECT member_email,
			   member_pwd,
			   member_nm,
			   member_zip,
			   member_baseaddr,
			   member_detaaddr,
			   member_bizno,
			   member_cntinfo,
			   FIND_CODE_NM(member_grd) as member_grd,
			   member_actpnt,
			   member_rprtcnt,
			   member_ltstconn,
			   FIND_CODE_NM(member_comaccp) as member_comaccp,
			   member_deldate
		FROM member
		WHERE member_email = #{memberEmail}
	</select>

	<update id="updateComMember" parameterType="com.hobbyfield.app.member.service.MemberVO">
		UPDATE member
		SET member_comaccp = #{memberComaccp}
		WHERE member_email = #{memberEmail}
	</update>

	<delete id="deleteMember">
		DELETE FROM member
		WHERE member_email = #{memberEmail}
	</delete>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'email'.toString()">AND member_email LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'nm'.toString()">AND member_nm LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>

</mapper>