<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.hobbyfield.app.talent.reply.mapper.TalentReplyMapper">

	<!-- 댓글 전체조회 -->
	<select id="getAllTalentReply" parameterType="int"
		resultType="TalentReplyVO">
		SELECT * FROM TALENT_REPLY WHERE TLNT_ID = #{tlntId}
	</select>

	<!-- 댓글 등록 -->
	<insert id="insertTalentReply" parameterType="TalentReplyVO">
		INSERT INTO TALENT_REPLY (
		TLNT_ID, TLNT_RPLY_SUBJECT, TLNT_RPLY_WDATE,
		TLNT_RPLY_PNUM, TLNT_RPLY_PARENT, TLNT_RPLY_SCRET,
		TLNT_RPLY_LEVEL
		) VALUES (
		#{tlntId}, #{tlntRplySubject}, #{tlntRplyWdate},
		#{tlntRplyPnum}, #{tlntRplyParent}, #{tlntRplyScret},
		#{tlntRplyLevel}
		)
	</insert>

	<!-- 댓글 수정 -->
	<update id="updateTalentReply" parameterType="TalentReplyVO">
		UPDATE TALENT_REPLY SET
		TLNT_RPLY_SUBJECT = #{tlntRplySubject},
		TLNT_RPLY_WDATE = #{tlntRplyWdate},
		TLNT_RPLY_PNUM = #{tlntRplyPnum},
		TLNT_RPLY_PARENT = #{tlntRplyParent},
		TLNT_RPLY_SCRET = #{tlntRplyScret},
		TLNT_RPLY_LEVEL = #{tlntRplyLevel}
		WHERE TLNT_RPLY_ID = #{tlntRplyId}
	</update>

	<!-- 댓글 삭제 -->
	<delete id="deleteTalentReply" parameterType="int">
		DELETE FROM TALENT_REPLY WHERE TLNT_RPLY_ID = #{tlntRplyId}
	</delete>

</mapper>
