<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobbyfield.app.notice.mapper.NoticeMapper">
	<!-- 공지사항 전체조회 -->
	<select id="selectnoticeAllList"
		resultType="com.hobbyfield.app.notice.service.NoticeVO">
		SELECT * 
		FROM notice
		ORDER BY 
		notice_id DESC
	</select>

	<!-- 공지사항 단건조회 -->
	<select id="selectNoticeInfo"
		parameterType="com.hobbyfield.app.notice.service.NoticeVO"
		resultType="NoticeVO">
		SELECT
		notice_id,
		notice_cate,
		notice_title,
		notice_subject,
		notice_writer,
		notice_wdate,
		notice_view
		FROM notice
		WHERE notice_id =
		#{noticeId}
		ORDER BY notice_id DESC
	</select>

	<!-- 공지사항 상품등록 -->
	<insert id="noticeInsert" parameterType="NoticeVO">
		<selectKey keyProperty="noticeId" resultType="int"
			order="BEFORE">
			SELECT NVL(MAX(notice_id), 0) + 1
			FROM notice
		</selectKey>
		INSERT INTO notice(
		notice_id,
		notice_cate,
		notice_title,
		notice_subject,
		notice_writer,
		notice_wdate,
		notice_view
		) VALUES(
		#{noticeId},
		#{noticeCate},
		#{noticeTitle},
		#{noticeSubject},
		#{noticeWriter},
		<choose>
			<when test="noticeWdate != null">
				#{noticeWdate}
			</when>
			<otherwise>
				SYSDATE
			</otherwise>
		</choose>
		,
		#{noticeView}
		)
	</insert>

	<!-- 공지사항 수정 -->
	<update id="noticeUpdate"
		parameterType="com.hobbyfield.app.notice.service.NoticeVO">
		UPDATE notice
		SET notice_title = #{noticeTitle},
		notice_subject = #{noticeSubject}
		WHERE notice_id = #{noticeId}
	</update>
	
	<!-- 공지사항 삭제 -->
	<delete id="noticeDelete" parameterType="int">
		DELETE FROM notice
		WHERE notice_id = #{noticeId}
	</delete>

	<!-- 조회수 업데이트 -->
	<update id="noticeViewCount" parameterType="NoticeVO">
		UPDATE notice
		SET
		notice_view = notice_view + 1
		WHERE notice_id = #{noticeId}
	</update>

</mapper>


<!-- NOTICE_ID -->
<!-- NOTICE_CATE -->
<!-- NOTICE_TITLE -->
<!-- NOTICE_SUBJECT -->
<!-- NOTICE_WRITER -->
<!-- NOTICE_WDATE -->
<!-- NOTICE_VIEW -->

  