<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobbyfield.app.club.mapper.ClubJoinMapper">

   <!-- 소모임 가입 : 등록 (소모임의 club/apply/member 테이블 데이터를 같이 사용하고 들어가야함)  -->
   <insert id="joinClub" parameterType="ClubJoinVO">
<!--       <selectKey keyProperty="applyNumber" resultType="int" order="BEFORE"> -->
<!--          SLELECT NVL(MAX(apply_number), 1) + 1 -->
<!--          FROM club_apply -->
<!--       </selectKey> -->
      INSERT ALL
      INTO  club_apply
         (
            apply_number
            ,profile_nickname
            ,club_number
            ,apply_date
            ,apply_answer1
            ,apply_answer2
            ,apply_answer3
            ,apply_status
         )
      VALUES
         (
            (SELECT NVL(MAX (APPLY_NUMBER), 1) + 1 FROM CLUB_APPLY)
            ,#{profileNickname}
            ,#{clubNumber}
            ,SYSDATE
            ,#{applyAnswer1}
            ,#{applyAnswer2}
            ,#{applyAnswer3}
            ,#{applyStatus}
         )
      INTO club_member
         (
            club_member_number
            ,profile_nickname
            ,club_number
            ,club_join_date
         )
      VALUES 
         (
            (SELECT NVL(MAX(CLUB_MEMBER_NUMBER), 1) + 1 FROM CLUB_member)
            ,#{profileNickname}
            ,#{clubNumber}
            ,SYSDATE      
         )
      SELECT *
      FROM DUAL
   </insert>
   
   <!-- 소모임 가입 신청한 회원 리스트 -->
   <select id="joinClubMember" resultType="ClubJoinVO">
       SELECT 
           apply_number,
           profile_nickname,
           club_number,
           apply_date,
           apply_answer1,
           apply_answer2,
           apply_answer3,
           apply_status
       FROM	club_apply
       WHERE	club_number = #{clubNumber} AND apply_status = 'H1'
   </select>

</mapper>
