<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobbyfield.app.club.mapper.CreateclubMapper">
	<!-- 소모임 전체조회 -->
	<select id="selectClubAllList" resultType="CreateclubVO">
		SELECT club_number
			   , profile_nickname
			   , club_name
			   , club_category
			   , club_type
			   , club_info
			   , major_location
			   , sub_location
			   , club_public
			   , singup_question1
			   , singup_question2
			   , singup_question3
			   , club_img
			   , club_img_path
			   , club_total
		FROM club
		ORDER BY club_number
	</select>
	
	<!-- 소모임 세부조회 -->
	
	<!-- 소모임 등록 --> <!-- 카테고리/모임IMG등록/인원정수 구현해야함 -->
	<insert id="insertClub" parameterType="CreateclubVO">
		INSERT ALL INTO club
				(
					, club_name
					, profile_nickname
					, club_category
					, club_type
					, club_info
					, major_location
					, sub_location
					, club_public
					, singup_question1
					, singup_question2
					, singup_question3
					, club_img
					, club_total
				)
		VALUES
				(
					, #{clubName}
					, #{profileNickname}
					, #{clubCategory}
					, #{clubType}
					, #{clubInfo}
					, #{majorLocation}
					, #{subLocation}
					, #{clubPublic}
					, #{singupQuestion1}
					, #{singupQuestion2}
					, #{singupQuestion3}
					, #{clubImg}
					, 50
				)
			
	</insert>
	
	<!-- 닉네임 중복체크 -->
	<select id="nickChk" resultType="int">
		SELECT count(*) 
		FROM club
		WHERE profile_nickname = #{profileNickname}
	</select>
	
	<!-- 소모임 이름 중복체크 -->
	<select id="clubnameChk" resultType="int">
		SELECT count(*) 
		FROM club
		WHERE club_name = #{clubName}
	</select>
	
	
	<!-- 소모임 수정 -->
	<update id="updateClub" parameterType="CreateclubVO">
		UPDATE club
		<set>
			club_number = #{clubNumber}
			, profile_nickname = #{profileNickname}
			, club_name = #{clubName}
			, club_category = #{clubCategory}
			, club_type = #{clubType}
			, club_info = #{clubInfo}
			, major_location = #{majorLocation}
			, sub_location = #{subLocation}
			, club_public = #{clubPublic}
			, singup_question1 = #{singupQuestion1}
			, singup_question2 = #{singupQuestion2}
			, singup_question3 = #{singupQuestion3}
			, club_img = #{clubImg}
			, 50
		WHERE club_name = #{clubName}
		</set>
	</update>
	
	
	<!-- 소모임 삭제? -->
	
	<!-- 프로필 이미지 등록 -->
	<!-- 해당 유저의 아이디가 존재하는지 확인 -->
	<select id="checkMemberEmailExists" resultType="int">
    SELECT COUNT(*) FROM member
    WHERE member_email = #{memberEmail} AND profile_nickname = #{profileNickname}
	</select>
	
	<insert id="profileImg" parameterType="CreateclubVO">
		INSERT INTO profile(
			profile_nickname
			,member_email
			,profile_img
			,profile_img_path
			
		)
		VALUES(
			#{profileNickname}
			,#{memberEmail}
			,#{profileImg}
			,#{profileImgPath}
		)
		
	</insert>
	
	<!-- 프로필 화면 : 개인정보 조회 -->
	<select id="getNomalMypage" resultType="CreateclubVO">
	 SELECT profile_nickname 
     FROM club
     WHERE profile_nickname = #{profileNickname}
	</select>
</mapper>