.ck.ck-editor {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
}

.ck-editor__editable {
	height: 80vh;
}
/* Modal styles */
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: white;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 800px;
}

.close {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}
#clubBoardList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  width: 40%;
}

#boardMain {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

#boardMain:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

#boardMain p {
  margin: 5px 0;
}

#boardMain img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#commentMain {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
}

#commentMain p {
  margin: 5px 0;
}

#commentMain img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#commentInput {
  margin-top: 20px;
}

#commentInput img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#commentInput input[type="text"] {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#openModalBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#openModalBtn:hover {
  background-color: #0056b3;
}

.close {
  color: #aaa;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.close:hover {
  color: #555;
}


#commentInput {
  margin-top: 20px;
}

#commentInput img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#commentInput input[type="text"] {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#openModalBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#openModalBtn:hover {
  background-color: #0056b3;
}

.close {
  color: #aaa;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.close:hover {
  color: #555;
}

.search-div {
  position: relative;
  width: 300px;
}
.search-text {
  width: 300px;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.search-img {
  position : absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
}