@charset "UTF-8";

.club_create_sub{
	margin-top : 100px;
}

.profile_top{
	margin-top : 100px;
}

/* 유효성 검사 문구 css적용단 */
.final_name_ck{
	color : green;
    display: none;
}
.final_club_ck{
	clolor : red;
    display: none;
}

/*중복 닉네임 체크 */
.nick_input_re1{
	color : green;
	display: none;	
}

.nick_input_re2{
	color : red;
	display : none;	
}

/*중복 모임이름 체크 */

.club_input_re1{
	color : green;
	display: none;
}

.club_input_re2{
	color : red;
	display : none;
}
.form-control {
	display: block;
	width: 50%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}