<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobbyfield.app.fnd.mapper.FundingSupportMapper">
  	
  	<!-- 후원 목록 전체조회 -->
  	<select id="selectFundingSupportList" resultType="FundingSupportVO">
  		SELECT
  			Fnd_Support_Number,
  			Fnd_Post_Number,
  			Fnd_Goods_Number,
  			Fnd_Order_Id,
  			Member_Email,
  			Fnd_Order_State,
  			Fnd_Invoice,
  			Fnd_Order_Date,
  			Fnd_Payment_Date,
  			Fnd_Order_Amount,
  			Fnd_Total_Price,
  			Fnd_Order_Recipient,
  			Fnd_Zip,
  			Fnd_BaseAddr,
  			Fnd_DetaAddr,
  			Fnd_Cntinfo,
  			Fnd_Order_Request,
  			Fnd_Pay_type,
  			Fnd_Shipdt
  		FROM Funding_Support
  		WHERE Member_Email = #{memberEmail}
  		ORDER BY Fnd_Support_Number DESC			
  	</select>
  	
  	<!-- 후원 목록 조회 -->
  	<select id="selectFundingSupport" resultType="FundingSupportVO">
          SELECT
  			s.Fnd_Support_Number,
  			s.Fnd_Goods_Number,
  			s.Fnd_Order_Id,
  			s.Member_Email,
  			s.Fnd_Order_State,
  			s.Fnd_Invoice,
  			s.Fnd_Order_Date,
  			s.Fnd_Payment_Date,
  			s.Fnd_Order_Amount,
  			s.Fnd_Total_Price,
  			s.Fnd_Order_Recipient,
  			s.Fnd_Zip,
  			s.Fnd_BaseAddr,
  			s.Fnd_DetaAddr,
  			s.Fnd_Cntinfo,
  			s.Fnd_Order_Request,
  			s.Fnd_Pay_type,
  			s.Fnd_Shipdt,
  			g.Fnd_Goods_Name,
  			g.Fnd_Goods_Price,
  			g.Fnd_Goods_Img,
  			g.Fnd_Goods_ImgPath,
  			p.Fnd_Post_Number,
  			p.Fnd_CateGory,
  			p.Fnd_Title,
  			p.Fnd_Status,
  			p.Fnd_End_Date
  		FROM Funding_Support s 
  			JOIN Funding_Goods g
  				ON (s.Fnd_Goods_Number = g.Fnd_Goods_Number)
  			JOIN Funding_Post p
  				ON (s.Fnd_Post_Number = p.Fnd_Post_Number)
  		WHERE s.Member_Email = #{memberEmail}
  		ORDER BY Fnd_Order_Date DESC
  	</select>
  	
  	<!-- 결제 후 등록 -->
  	<insert id="insertFundingSupport" parameterType="FundingSupportVO">
  		<selectKey keyProperty="fndSupportNumber" resultType="int" order="BEFORE">
  			SELECT NVL(MAX(Fnd_Support_Number), 0) + 1
  			FROM funding_Support
  		</selectKey>
  		INSERT INTO funding_Support 
  				(
  				Fnd_Support_Number
  				,Fnd_Post_Number
  				,Fnd_Goods_Number
  				,Fnd_Order_Id
  				,Member_Email
  				,Fnd_Order_State
  				,Fnd_Invoice
  				,Fnd_Order_Date
  				,Fnd_Payment_Date
  				,Fnd_Order_Amount
  				,Fnd_Total_Price
  				,Fnd_Order_Recipient
  				,Fnd_Zip
  				,Fnd_BaseAddr
  				,Fnd_DetaAddr
  				,Fnd_Cntinfo
  				,Fnd_Order_Request
  				,Fnd_Pay_type
  				,Fnd_Shipdt
  				)
  		VALUES(
  				#{fndSupportNumber}
  				,#{fndPostNumber}
  				,#{fndGoodsNumber}
  				,#{fndOrderId}
  				,#{memberEmail}
  				,'1'
  				,#{fndInvoice}
  				,SYSDATE
  				,#{fndPaymentDate}
  				,#{fndOrderAmount}
  				,#{fndTotalPrice}
  				,#{fndOrderRecipient}
  				,#{fndZip}
  				,#{fndBaseAddr}
  				,#{fndDetaAddr}
  				,#{fndCntinfo}
  				,#{fndOrderRequest}
  				,#{fndPayType}
  				,#{fndShipdt}
  				)
  	</insert>
  	
  	<!-- 후원자 관리 -->
<select id="supportManagement" resultType="FundingSupportVO" parameterType="com.hobbyfield.app.common.SearchCriteria">
    SELECT 
        Fnd_Support_Number,
        Fnd_Total_price,
        member_email,
        Fnd_order_recipient,
        Fnd_Order_date,
        Fnd_Order_Amount,
        Fnd_Zip,
        Fnd_BaseAddr,
        Fnd_DetaAddr,
        Fnd_Cntinfo,
        Fnd_Order_Request,
        Fnd_Invoice,
        Fnd_Order_state
    FROM (
        SELECT 
            Fnd_Support_Number,
            Fnd_Total_price,
            member_email,
            Fnd_order_recipient,
            Fnd_Order_date,
            Fnd_Order_Amount,
            Fnd_Zip,
            Fnd_BaseAddr,
            Fnd_DetaAddr,
            Fnd_Cntinfo,
            Fnd_Order_Request,
            Fnd_Invoice,
            Fnd_Order_state,
            ROW_NUMBER() OVER(ORDER BY Fnd_Support_Number DESC) AS RNUM
        FROM Funding_Support
        WHERE 1=1
        AND Fnd_Post_Number = #{fundingSupportVO.fndPostNumber} <!-- 추가 조건 -->
    ) fundingSupport
    WHERE RNUM BETWEEN #{scri.rowStart} AND #{scri.rowEnd}
    ORDER BY Fnd_Support_Number DESC
</select>
  	<!-- 송장번호 입력 -->
  	<update id="insertfundingInvoce" parameterType="FundingSupportVO">
  		UPDATE Funding_Support
  		SET Fnd_Invoice = #{fndInvoice},
  			Fnd_Shipdt = SYSDATE,
  			Fnd_Order_state = '2'
  		WHERE Fnd_Support_Number = #{fndSupportNumber}
  	</update>
  	
  	<!-- 후원자 수 -->
  	<select id="getSupportCount" resultType="int">
  		SELECT COUNT(Fnd_Support_Number)
  		FROM Funding_Support
  		WHERE 1=1
  		AND Fnd_Support_Number > 0
  	</select>
  	
  		
  </mapper>