<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobbyfield.app.fnd.mapper.FundingPostMapper">
	
<!-- 전체조회 -->
<select id="selectFundingPostList" resultType="FundingPostVO" parameterType="com.hobbyfield.app.common.SearchCriteria">
    SELECT
        Fnd_Main_Img,
        Fnd_Main_ImgPath,
        Fnd_Category,
        Fnd_Post_Number, 
        Fnd_Title,
        Fnd_Start_Date,
        Fnd_End_Date,
        Fnd_Status,
        Fnd_Target_Amount,
        Fnd_Current_Amount,
        Fnd_Views,
        Member_Email,
        Fnd_Content
    FROM (
        SELECT 
            Fnd_Main_Img,
            Fnd_Main_ImgPath,
            Fnd_Category,
            Fnd_Post_Number, 
            Fnd_Title,
            Fnd_Start_Date,
            Fnd_End_Date,
            Fnd_Status,
            Fnd_Target_Amount,
            Fnd_Current_Amount,
            Fnd_Views,
            Member_Email,
            Fnd_Content,
            ROW_NUMBER() OVER(ORDER BY Fnd_Post_Number DESC) AS RNUM
        FROM Funding_Post
        WHERE 1=1
            <include refid="search"></include>
       
    ) funding
    WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
    ORDER BY Fnd_Post_Number DESC
</select>
  	<!-- 전체조회 -->
  	<select id="selectMyProjectList" resultType="FundingPostVO">
  		SELECT
  			Fnd_Main_Img,
  			Fnd_Main_ImgPath,
  			Fnd_Category,
  			Fnd_Post_Number, 
  			Fnd_Title,
  			Fnd_Start_Date,
  			Fnd_End_Date,
  			Fnd_Status,
  			Fnd_Target_Amount,
  			Fnd_Current_Amount,
  			Fnd_Views,
  			Member_Email
  		FROM Funding_Post
  		WHERE Member_Email = #{memberEmail}
  	</select>	

  	
  	<!-- 단건조회 -->
  	<select id="selectFundingPost" resultType="FundingPostVO">
  		SELECT
  			Fnd_Title,
  			Fnd_Main_Img,
  			Fnd_Main_ImgPath,
  			Fnd_Current_Amount,
  			Fnd_Target_Amount,
  			Fnd_Start_Date,
  			Fnd_End_Date,
  			Fnd_Content,
  			member_Email,
  			Fnd_Participants,
  			Fnd_Post_Number,
  			Fnd_Status
  		FROM Funding_Post
  		WHERE Fnd_Post_Number = #{fndPostNumber}
  	</select>
  	
  	
  	<!-- 등록 -->
  	<insert id="insertFundingPost" parameterType="FundingPostVO">
		<selectKey keyProperty="fndPostNumber" resultType="int" order="BEFORE">
			SELECT NVL(MAX(Fnd_Post_Number), 0) + 1
			FROM funding_Post
		</selectKey>
		INSERT INTO funding_Post
				(
				Fnd_Post_Number
				, Fnd_Category
				, Fnd_Title
				, Fnd_Main_Img
				, Fnd_Main_ImgPath
				, Fnd_Views
				, Fnd_Status
				, Fnd_Current_Amount
				, Fnd_Total_Amount
				, Fnd_Participants
				, Member_Email
				)
		VALUES( 
				#{fndPostNumber}
				, #{fndCategory}
				, #{fndTitle}
				, #{fndMainImg}
				, #{fndMainImgPath}
				, 0
				, #{fndStatus}
				, 0
				, 0
				, 0
				, #{memberEmail}
				)
	</insert>
	
	<!-- 펀딩 임시저장 후 등록 -->
	<update id="updateFundingPost" parameterType="FundingPostVO">
		
		UPDATE Funding_Post
		SET 
			Fnd_Target_Amount = #{fndTargetAmount}
		  , Fnd_Start_Date = #{fndStartDate}
		  , Fnd_End_Date = #{fndEndDate}
		  , Fnd_Wdate = SYSDATE
		  , Fnd_Status = #{fndStatus}
		  , Fnd_Content = #{fndContent}
		WHERE fnd_Post_Number = #{fndPostNumber}
		
	</update>
	
	<!-- 결제 후 모인금액 및 참여인원 업데이트 -->
	<update id="updateFundingPostPayment" parameterType="FundingPostVO">
		
		UPDATE Funding_Post
		SET
			  Fnd_Current_Amount = Fnd_Current_Amount + #{fndTotalPrice}
		 	, Fnd_Total_Amount = Fnd_Total_Amount + #{fndTotalPrice}
		 	, Fnd_Participants = Fnd_Participants + 1
		WHERE Fnd_Post_Number = #{fndPostNumber}
		
	</update>
	
	<!-- 조회수 업데이트 -->
	<update id="FundingPostViewsCount" parameterType="FundingPostVO">
	
		UPDATE Funding_Post
	  	SET Fnd_views = Fnd_views + 1
	  	WHERE fnd_Post_Number = #{fndPostNumber}
	  	
	</update>
	
	<!-- 펀딩 프로젝트 삭제 -->
	<delete id="deleteFundingPost" parameterType="FundingPostVO">
		DELETE Funding_Post
		WHERE fnd_Post_Number = #{fndPostNumber}
	</delete>
	
	<!-- 펀딩 게시글 갯수 -->
	<select id = "getTotalCount" resultType="int">
		SELECT COUNT(Fnd_Post_Number)
		FROM Funding_Post
		WHERE 1=1
		<include refid="search"></include>
		 AND Fnd_Post_Number > 0
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'email'.toString()">AND member_email LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 't'.toString()">AND FND_TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND FND_CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND MEMBER_EMAIL LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND( (FND_TITLE LIKE '%' || #{keyword} || '%') or (FND_CONTENT LIKE '%' || #{keyword} || '%') )</if>
			<if test="searchType == 'status'.toString()">And fnd_Status= #{keyword}</if>
		</if>
	</sql>
</mapper>