<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.hobbyfield.app.fnd.mapper.FundingCommentMapper">
 
 	<select id="getCommentList" resultType="FundingCommentVO">
 		SELECT *
 		FROM funding_comment
 		WHERE fnd_post_number = #{fndPostNumber}
 	</select>
 	
 	<select id="getComment" resultType="FundingCommentVO">
 		SELECT *
 		FROM funding_comment
 		WHERE fnd_comment_number = #{fndCommentNumber}
 	</select>
 	
 	<insert id="insertComment" parameterType="FundingCommentVO">
 		<selectKey keyProperty="fndCommentNumber" resultType="int" order="BEFORE">
 			SELECT NVL(MAX(fnd_comment_number),0) + 1
 			FROM funding_comment
 		</selectKey>
 		INSERT INTO funding_comment (
 										fnd_comment_number
 										,fnd_post_number
 										,member_email
 										,fnd_comment_content
 										,fnd_secret
 									)
 		VALUES (
 				#{fndCommentNumber}
 				,#{fndPostNumber}
				,#{memberEmail}
				,#{fndCommentContent}
				,#{fndSecret}
 			)
 	</insert>
 	
 	<update id="updateComment" parameterType="FundingCommentVO">
 		UPDATE funding_comment
 		<set>
 			<if test="fndCommentContent != null and !fndCommentContent.equals('')">
 				fnd_comment_content = #{fndCommentContent},
 			</if>
 				fnd_secret = #{fndSecret}
 		</set>
 		WHERE fnd_comment_number = #{fndCommentNumber}
 	</update>
 	
 	<delete id="deleteComment" parameterType="FundingCommentVO">
 		DELETE FROM funding_comment
 		WHERE fnd_comment_number = #{fndCommentNumber}
 	</delete>

 </mapper>