<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobbyfield.app.club.profile.mapper.ClubProfileMapper"> 

<!-- 프로필 이미지 등록 -->
	<!-- 해당 유저의 아이디가 존재하는지 확인 -->
<!-- 	<select id="checkMemberEmailExists" resultType="int"> -->
<!--     SELECT COUNT(*) FROM member -->
<!--     WHERE member_email = #{memberEmail} AND profile_nickname = #{profileNickname} -->
<!-- 	</select> -->
	
<!-- 	<insert id="profileImg" parameterType="CreateclubVO"> -->
<!-- 		INSERT INTO profile( -->
<!-- 			profile_nickname -->
<!-- 			,member_email -->
<!-- 			,profile_img -->
<!-- 			,profile_img_path -->
			
<!-- 		) -->
<!-- 		VALUES( -->
<!-- 			#{profileNickname} -->
<!-- 			,#{memberEmail} -->
<!-- 			,#{profileImg} -->
<!-- 			,#{profileImgPath} -->
<!-- 		) -->
		
<!-- 	</insert> -->

	<!-- 프로필 등록 -->
<!-- 	<insert id="insertProfile" parameterType="CreateclubVO"> -->
	<insert id="insertProfile" parameterType="ClubProfileVO">
		INSERT INTO profile(
			PROFILE_NICKNAME 
			,MEMBER_EMAIL 
			,PROFILE_IMG 
			,PROFILE_IMG_PATH
		) 
		VALUES(
			#{profileNickname}
			,#{memberEmail}
			,#{profileImg}
			,#{profileImgPath}
		)
	</insert>
	
	<!-- 프로필 단건조회 -->
	<select id="selectProfileInfo" resultType="ClubProfileVO">
		SELECT profile_nickname
				, profile_img
				, profile_img_path
				, member_email
		FROM profile
		WHERE profile_nickname = #{profileNickname} 
	</select>
	
	
	<!-- 프로필 화면 : 개인정보 조회 (이미지 조회도 가능해야함)-->
	<select id="getNomalMypage" resultType="ClubProfileVO">
	 	SELECT profile_nickname, profile_img, profile_img_path, member_email 
     	FROM profile
     	WHERE member_email = #{memberEmail}
	</select>
	
	<!-- 닉네임 중복체크 -->
	<select id="nickChk" resultType="int">
		SELECT count(*) 
		FROM profile
		WHERE profile_nickname = #{profileNickname}
	</select>
	
	<!-- 프로필 수정 -->
	<update id="updateProfile" parameterType="ClubProfileVO">
		UPDATE profile
		<set>
			profile_nickname = #{profileNickname}
			member_email = #{memberEmail}
			profile_img = #{profileImg}
			profile_img_path = #{profileImgPath}
		</set>
		WHERE profile_nickname = #{profileNickname}	
	</update>
	
	
	<!-- 해당 소모임 이동시  -->

	
</mapper>