<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.hobbyfield.app.member.mapper.MemberMapper">

	<!-- 회원 가입 수행 -->
	<insert id="memberJoin" parameterType="MemberVO">
		INSERT INTO member (
							member_email
							, member_pwd
							, member_nm
							, member_zip
							, member_baseaddr
							, member_detaaddr
							<if test="memberBizno != null and !memberBizno.equals('')">
							, member_bizno
							</if>
							, member_cntinfo
							, member_grd
							)
		VALUES (
							#{memberEmail}
							, #{memberPwd}
							, #{memberNm}
							, #{memberZip}
							, #{memberBaseaddr}
							, #{memberDetaaddr}
							<if test="memberBizno != null and !memberBizno.equals('')">
							, #{memberBizno}
							</if>
							, #{memberCntinfo}
							, #{memberGrd}
							)
	</insert>

	<!-- 아이디 중복 체크 -->
	<select id="idCheck" resultType="int">
		SELECT COUNT(*)
		FROM member
		WHERE member_email = #{memberEmail}
	</select>
	
	<!-- 로그인 -->
	<select id="memberLogin" resultType="com.hobbyfield.app.member.service.MemberVO">
		SELECT * FROM member WHERE member_email = #{memberEmail}
	</select>
	
	<!-- 로그인 성공 시 최근 접속일 갱신 -->
	<update id="memberLtstUpdate" parameterType="com.hobbyfield.app.member.service.MemberVO">
		UPDATE member SET member_ltstconn = SYSDATE WHERE member_email = #{memberEmail}
	</update>
	
	<!-- 금일 첫 로그인 시 활동 포인트 갱신 -->
	<update id="memberPntUpdate" parameterType="com.hobbyfield.app.member.service.MemberVO">
		UPDATE member SET member_actpnt = member_actpnt + 200 WHERE member_email = #{memberEmail}
	</update>
	
	
	

  </mapper>