<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.hobbyfield.app.member.mapper.MemberMapper">

	<!-- 회원 가입 수행 -->
	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO member (
							member_email
							, member_pwd
							, member_nm
							, member_zip
							, member_baseaddr
							, member_detaaddr
							, member_cntinfo
							, member_grd
							<if test="memberBizno != null and !memberBizno.equals('')">
							, member_bizno
							, member_comaccp
							</if>
							)
		VALUES (
							#{memberEmail}
							, #{memberPwd}
							, #{memberNm}
							, #{memberZip}
							, #{memberBaseaddr}
							, #{memberDetaaddr}
							, #{memberCntinfo}
							, #{memberGrd}
							<if test="memberBizno != null and !memberBizno.equals('')">
							, #{memberBizno}
							, #{memberComaccp}
							</if>
							)
	</insert>

	<!-- 아이디 중복 체크 -->
	<select id="chkMemberEmail" resultType="int">
		SELECT COUNT(*)
		FROM member
		WHERE member_email = #{memberEmail}
	</select>
	
	<!-- 로그인 -->
	<select id="loginMember" resultType="com.hobbyfield.app.member.service.MemberVO">
		SELECT * FROM member WHERE member_email = #{memberEmail}
	</select>
	
	<!-- 로그인 성공 시 최근 접속일 갱신 -->
	<update id="updateMemberLtst" parameterType="com.hobbyfield.app.member.service.MemberVO">
		UPDATE member SET member_ltstconn = SYSDATE WHERE member_email = #{memberEmail}
	</update>
	
	<!-- 금일 첫 로그인 시 활동 포인트 갱신 -->
	<update id="updateMemberPnt" parameterType="com.hobbyfield.app.member.service.MemberVO">
		UPDATE member SET member_actpnt = member_actpnt + 200 WHERE member_email = #{memberEmail}
	</update>
	
	<!-- 회원 정보 수정 -->
	<update id="updateMember" parameterType="com.hobbyfield.app.member.service.MemberVO">
		UPDATE member
		<set>
			<if test="memberNm != null and !memberNm.equals('')">
				member_nm = #{memberNm},
			</if>
			<if test="memberZip != null and !memberZip.equals('')">
				member_zip = #{memberZip},
			</if>
			<if test="memberBaseaddr != null and !memberBaseaddr.equals('')">
				member_baseaddr = #{memberBaseaddr},
			</if>
			<if test="memberDetaaddr != null and !memberDetaaddr.equals('')">
				member_detaaddr = #{memberDetaaddr},
			</if>
			<if test="memberCntinfo != null and !memberCntinfo.equals('')">
				member_cntinfo = #{memberCntinfo},
			</if>
		</set>
		WHERE member_email = #{memberEmail}
	</update>
	
	<!-- 비밀번호 체크 -->
	<select id="chkMemberPwd" resultType="String">
		SELECT member_pwd
		FROM member
		WHERE member_email = #{memberEmail}
	</select>
	
	<!-- 비밀번호 수정 -->
	<update id="updateMemberPwd">
		UPDATE member
		SET member_pwd = #{memberPwd}
		WHERE member_email = #{memberEmail}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteMember">
		DELETE FROM member
		WHERE member_email = #{memberEmail}
	</delete>
	
	<!-- 마이 페이지 - 가입한 소모임 조회 -->
	<select id="selectJoinClub" resultType="com.hobbyfield.app.club.service.CreateclubVO">
		SELECT c.club_number,
			   c.club_name,
			   c.profile_nickname
			   FIND_CODE_NM(c.club_category) AS club_category,
			   FIND_CODE_NM(c.club_type) AS club_type,
			   FIND_CODE_NM(c.club_public) AS club_public,
			   c.club_img,
			   c.club_img_path
			   
		FROM club c
		
		JOIN club_member cm
		  ON c.club_number = cm.club_number
		  
		JOIN profile p
		  ON cm.profile_nickname = p.profile_nickname
		  
		WHERE p.member_email = #{memberEmail}
	</select>
	
	
	<!-- 마이 페이지 - 기업회원의 판매 중인 상품 조회 -->
	<select id="selectSellList" resultType="com.hobbyfield.app.prdt.service.PrdtVO">
		SELECT prdt_id,
			   FIND_CODE_NM(prdt_cate) AS prdt_cate,
			   prdt_name,
			   prdt_price,
			   prdt_count,
			   FIND_CODE_NM(prdt_soldout) AS prdt_soldout,
			   prdt_thum,
			   prdt_thum_path
		FROM prdt
		WHERE member_email = #{memberEmail}
	</select>
	
	<!-- 비밀번호 찾기 유효성 검사 -->
	<select id="findPwCheck" resultType="int">
		SELECT COUNT(*)
		FROM member
		WHERE member_email = #{memberEmail}
		AND member_nm = #{memberNm}
	</select>
	
	<!-- 비밀번호 찾기 - 비밀번호 변경 -->
	<update id="findPw">
		UPDATE member
		SET member_pwd = #{memberPwd}
		WHERE member_email = #{memberEmail}
		AND member_nm = #{memberNm}	
	</update>
	
  </mapper>
  