<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobbyfield.app.member.mapper.MyitemMapper">

	<!-- 나의아이템 전체조회 -->
	<select id="selectMyItemAllList" resultType="MyitemVO">
		SELECT * FROM MYITEM
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<!-- 포인트 차감 -->
	<update id="decreasePoint" parameterType="MyitemVO">
	update member 
	set MEMBER_ACTPNT = MEMBER_ACTPNT-#{pointPrice}
	where MEMBER_EMAIL = #{memberEmail}
	</update>
	
	<!-- 나의 아이템 등록 -->
	<insert id="insertMyitem" parameterType="MyitemVO">
		<selectKey keyProperty="myitemId" resultType="int"
			order="BEFORE">
			SELECT NVL(MAX(myitem_id), 0) + 1
			FROM MYITEM
		</selectKey>
		INSERT INTO MYITEM(
					MYITEM_ID,
					POINT_ID, 					
					<if test="pointItemType.equals('W1')">
					POINT_OPT_ID,
					</if>
					MYITEM_USETERM,
					POINT_ITEM_TYPE,
					
					MYITEM_PURCDT,
					MEMBER_EMAIL
		)VALUES(
					#{myitemId},
					#{pointId}, 
					<if test="pointItemType.equals('W1')">
					#{pointOptId},
					</if>
					#{myitemUseterm},
					#{pointItemType},
					
					SYSDATE,
					#{memberEmail}
		)
	</insert>

	<!-- 소모임 증원권 적용 -->
	
	
	
	
	<!--  -->



</mapper>