<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobbyfield.app.member.mapper.MyitemMapper">

	<!-- 나의아이템 전체조회 -->
	<select id="selectMyItemAllList" parameterType="com.hobbyfield.app.member.service.MemberVO" resultType="MyitemVO">
		SELECT m.myitem_id,
			   m.point_id,
			   p.point_name,
			   FIND_CODE_NM(m.point_item_type) AS point_item_type,
			   m.myitem_purcdt,
			   p.point_img_name,
			   p.point_img_path,
			   m.myitem_useterm
			   
		FROM myitem m
		
		JOIN point p
		  ON m.point_id = p.point_id
		
		WHERE m.member_email = #{memberEmail}
	</select>
	
	<!-- 포인트 차감 -->
	<update id="decreasePoint" parameterType="MyitemVO">
	update member 
	set MEMBER_ACTPNT = MEMBER_ACTPNT-#{pointPrice}
	where MEMBER_EMAIL = #{memberEmail}
	</update>
	
	<!-- 나의 아이템 등록 -->
	<insert id="insertMyitem" parameterType="MyitemVO">
		<selectKey keyProperty="myitemId" resultType="int"
			order="BEFORE">
			SELECT NVL(MAX(myitem_id), 0) + 1
			FROM MYITEM
		</selectKey>
		INSERT INTO MYITEM(
					MYITEM_ID,
					POINT_ID, 					
					<if test="pointItemType.equals('W1')">
					POINT_OPT_ID,
					</if>
					MYITEM_USETERM,
					POINT_ITEM_TYPE,
					
					MYITEM_PURCDT,
					MEMBER_EMAIL
		)VALUES(
					#{myitemId},
					#{pointId}, 
					<if test="pointItemType.equals('W1')">
					#{pointOptId},
					</if>
					#{myitemUseterm},
					#{pointItemType},
					
					SYSDATE,
					#{memberEmail}
		)
	</insert>

	<!-- 소모임 증원권 member 적용 member로 가야할수도 -->
<!-- 	<update id="updateUseterm" parameterType="MyitemVO"> -->
<!-- 		UPDATE MYITEM -->
<!-- 		SET MYITEM_USETERM = 0 -->
<!-- 		WHERE MYITEM_ID = #{myitemId} -->
<!-- 	</update> -->

 	<!-- 증원권이 0일때 CLUB_TOTAL=0 COUNT하지 않음 MEMBER로 갈거임--> 
<!-- 	<update id="updateClubTotal" parameterType="ClubVO"> -->
<!-- 		UPDATE CLUB -->
<!-- 		SET CLUB_TOTAL = 0 -->
<!-- 		WHERE CLUB_NUMBER = #{clubNumber} -->
<!-- 	</update> -->


</mapper>