<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.hobbyfield.app.talent.mapper.TalentMapper">
  
  <!-- 재능기부 전체조회 (talentList) -->
  <select id="selectTalentAllList" resultType="TalentVO">
  SELECT * 
  FROM TALENT
  ORDER BY tlnt_id
  </select>
  
<!--  TLNT_WRITER -->
<!-- TLNT_WDATE -->
<!-- TLNT_VIEW -->
<!-- TLNT_TITLE -->
<!-- TLNT_STATUS -->
<!-- TLNT_STARTDAY -->
<!-- TLNT_REGEND -->
<!-- TLNT_ID -->
<!-- TLNT_ENDDAY -->
<!-- TLNT_CONTENT -->
<!-- TLNT_CATE -->
<!-- TLNT_CAP -->
  
  
  
  
  
  </mapper>