<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.hobbyfield.app.talent.mapper.TalentMapper">
  
  	<!--  재능기부 메인화면 (talentMain) -->
<!--   	<select id="selectTalentMain" resultType="TalentVO"> -->
<!--   		SELECT  -->
<!--   	</select> -->
  
  
	 <!-- 재능기부 카테고리 전체조회 (talentList) -->
	 <select id="selectTalentAllList" resultType="TalentVO">
		 SELECT * 
		 FROM TALENT
		 WHERE tlnt_cate = #{tlntCate}
		 ORDER BY tlnt_id
	 </select>
	 
	 <!-- 재능기부 단건조회 (talentInfo) -->
	 <select id="selectTalentInfo" resultType="TalentVO">
		 SELECT *
		 FROM TALENT
		 WHERE tlnt_id = #{tlntId}
	 </select>
	
 	<!-- 재능기부 등록 --> 
 	<insert id="insertTalent" parameterType="TalentVO"> 
		<selectKey keyProperty="tlntId" resultType="int"
			order="BEFORE">
			SELECT NVL(MAX(tlnt_id), 0) + 1
			FROM TALENT
		</selectKey>
		INSERT INTO TALENT (
		TLNT_ID,
		TLNT_CATE,
		TLNT_TITLE,
		TLNT_CONTENT,
		TLNT_WRITER,
		TLNT_WDATE,
		TLNT_VIEW,
		TLNT_STARTDAY,
		TLNT_ENDDAY,
		TLNT_CAP,
		TLNT_STATUS,
		TLNT_REGEND
	) VALUES (
 		#{tlntId},
 		#{tlntCate},
 		#{tlntTitle}, 
 		#{tlntContent},
 		#{tlntWriter},
 		SYSDATE, 
 		#{tlntView}, 
 		#{tlntStartday},
 		#{tlntEndday},
 		#{tlntCap}, 
 		#{tlntStatus},
 		#{tlntRegEnd} 
	</insert>  

	 <!-- 조회수 업데이트 -->
	<update id="updateTalentView" parameterType="TalentVO">
		UPDATE talent
		SET tlnt_view = point_view + 1
		WHERE TLNT_ID = #{tlntId}
	</update>



  
<!--  TLNT_WRITER -->
<!-- TLNT_WDATE -->
<!-- TLNT_VIEW -->
<!-- TLNT_TITLE -->
<!-- TLNT_STATUS -->
<!-- TLNT_STARTDAY -->
<!-- TLNT_REGEND -->
<!-- TLNT_ID -->
<!-- TLNT_ENDDAY -->
<!-- TLNT_CONTENT -->
<!-- TLNT_CATE -->
<!-- TLNT_CAP -->
  
<!-- tlntId; -->
<!-- tlntWriter; -->
<!-- tlntWdate; //작성일자 -->
<!-- tlntView; -->
<!-- tlntTitle; -->
<!-- tlntStatus; //모집/마감상태 -->
<!-- tlntStartday; //재능기부 시작일 -->
<!-- tlntEndday; // 재능기부 종료일 -->
<!-- tlntRegend; // 모집 마감일 -->
<!-- tlntContent; -->
<!-- tlntCate; -->
<!--  tlntCap; -->
  
  
  
  </mapper>