<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.hobbyfield.app.csboard.reply.mapper.ReplyMapper">
  	
  	
  	<!--외래 키 등록  -->
  	<insert id="insert">
  		INSERT INTO cs_reply(rno, cs_number, reply_contents, reply_writer )
  		VALUES (seq_reply.nextval, #{csNumber}, #{replyContents}, #{replyWriter})
  	</insert>
  	
  	<select id="read" resultType="ReplyVO">
  		SELECT * FROM cs_reply
  		WHERE rno = #{rno}
  	</select>
  	
  	<!-- 댓글 목록(페이징) -->
  	<select id="getListWithPaging" resultType="ReplyVO">
  		SELECT rno, cs_number, reply_contents, reply_writer, reply_date, updateDate
  		FROM cs_reply 
  		WHERE cs_number = #{csNumber}
  		ORDER BY rno asc
  	</select>
 </mapper>